<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">BET APP</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/my-bets">My Bets</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="results">Results</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/ranking">Ranking</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/matches-list">Matches List</a>
    </li>
    <li *ngIf="isAuthenticated(); else notLogged" class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/" (click)="onLogout()">Log out</a>
    </li>
    <ng-template #notLogged>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signin">Sign In</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
    </ng-template>
  </ul>
</nav>
