<div class="card">
  <div class="card-body">
    <div class="card-title">Here you can add a match or update score of already existing matches.</div>
    <div class="card-text">
      <form *ngIf="matchForm!=undefined" [formGroup]="matchForm" (ngSubmit)="onUpdateMatches()">
        <div class="row mt-1 ml-1">
          <button type="button"
                  class="btn btn-primary btn-sm" (click)="onAddMatch()">Add Match
          </button>
          <button type="submit" class="btn btn-warning btn-sm ml-1"
                  [disabled]="!matchForm.valid || matchForm.pristine">Update All
          </button>
        </div>
        <div formArrayName="matches">
          <div class="form-row mt-1" *ngFor="let result of getMatchForms().controls; let i=index"
               [formGroupName]="i">
            <div class="col">
              <input type="text"
                     class="form-control form-control-sm"
                     id="homeTeam"
                     formControlName="homeTeam">
            </div>
            <div class="col-2">
              <input type="number"
                     class="form-control form-control-sm"
                     id="homeScore"
                     formControlName="homeScore">
            </div>
            <div class="col-2">
              <input type="number"
                     class="form-control form-control-sm"
                     id="awayScore"
                     formControlName="awayScore">
            </div>
            <div class="col">
              <input type="text"
                     class="form-control form-control-sm"
                     id="awayTeam"
                     formControlName="awayTeam">
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteMatch(i)">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
