<div class="card">
  <div class="card-body">
    <div class="card-title text-center">Here you can register.</div>
    <div class="card-text">
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <label for="name">Name: </label>
        <input type="text"
               class="form-control form-control-sm"
               formControlName="name"
               id="name">
        <label for="email;">Email:</label>
        <input type="email"
               class="form-control form-control-sm"
               id="email;"
               formControlName="email">
        <label for="password">Password:</label>
        <input type="text"
               class="form-control form-control-sm"
               id="password"
               formControlName="password">
        <button class="btn btn-primary mt-1">Register</button>
      </form>
    </div>
  </div>
</div>
